// 蓝色主题
// $main-color: #08658a;
// $second-color: #BB0100;
// $three-color:#098ec4;
// $three-color2:#c8e6f1;
// $fourth-color: #098ec4;
// $title-color: white;
// $hover-color: rgb(240, 235, 235);
// $input-color: $three-color2;

// 红色主题
// $main-color: rgb(172, 13, 50);
// $second-color: #3b9fc7;
// $three-color:#CB1B45;
// $three-color2:rgb(241, 175, 190);
// $fourth-color: #CB1B45;
// $title-color: white;
// $hover-color: rgb(240, 235, 235);
// $input-color: $three-color2;

// 粉色主题
// $main-color: #b14898;
// $second-color: #3b9fc7;
// $three-color:#c077af;
// $three-color2:rgb(243, 201, 211);
// $fourth-color: $three-color;
// $title-color: white;
// $hover-color: rgb(240, 235, 235);
// $input-color: $three-color2;

// 绿色主题
// $main-color: #05746a;
// $second-color: #9C178C;
// $three-color:#078e82;
// $three-color2: #bbebe7;
// $fourth-color: $three-color;
// $title-color: white;
// $hover-color: rgb(240, 235, 235);
// $input-color: $three-color2;

// 橘色主题
// $main-color: rgb(177, 108, 30);
// $second-color: #3BB1E3;
// $three-color: #E2943B;
// $three-color2: rgb(238, 203, 163);
// $fourth-color: $three-color;
// $title-color: white;
// $hover-color: rgb(240, 235, 235);
// $input-color: $three-color2;

//亚马逊主题
$main-color: #135581;
$second-color: #f07113;
$three-color: #232f3e;
$three-color2: #b3d9f3;
$fourth-color: #2f82b9;
$title-color: white;
$hover-color: rgb(240, 235, 235);
$input-color: $three-color2;

// 浅色主题
// $main-color: #033E6B;
// $second-color: #BB0100;
// $three-color: #f2f1f6;
// $three-color2: #ebe6e6;
// $fourth-color: #077cb0;
// $title-color: #033E6B;
// $hover-color: $second-color;
// $input-color: #c7e5f1;

$check-roadio-backround: #eee;
$check-roadio-backround-hover: #ccc;
$check-roadio-checked: $fourth-color;
$check-roadio-mark: white;

$node-height: 23px;

