a,
a:active,
a:focus,
button,
button:focus,
button:active {
    outline: none;
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}

body {
    font-size: 14px;
    padding-top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
    background-color: #2196f3;
    // background-color: #584475;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    background-color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    &ï¼šfocus {
        border: 1px solid #7a59ad;
    }
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    width: 100%;
    z-index: 30;

    background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
    // background-color: #584475;
    background-color: #2196f3;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 15%;

        img {
            width: 28px;
        }
    }

    #title {
        font-size: 16px;
        color: white;
        margin-left: 8px;
    }

    .menu-log {
        color: white;
        margin-right: 15%;

        a {
            color: white;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    background: url(/assets/img/pattern-1.svg) no-repeat center bottom fixed;
    background-size: cover;
    background-color: transparent;

    .log-show {
        margin-top: 5%;
        border-radius: 10px;
        background-color: #f7f9fa;
        box-shadow: 0px 0px 13px 0px rgba(74, 53, 107, 0.08);

        padding: 1.5rem;
        word-wrap: break-word;
        border: 1px solid rgba(0, 0, 0, 0.08);

        display: flex;
        flex-direction: column;

        .form-group {
            margin-bottom: 1.5rem;

            label {
                font-weight: 500;
                display: block;
                margin-bottom: 0.3rem;
            }
        }

        .form-control {
            height: calc(1.5em + 1.5rem + 2px);
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 4px;
            color: #495057;
            background-clip: padding-box;
            border: 1px solid #dbdbdb;

            &:focus {
                border: 1px solid #7a59ad;
            }
        }

        .to-center {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        button {
            cursor: pointer;
            display: block;
            width: 60%;
            box-shadow: 0 2px 6px 0 rgba(33, 150, 243, 0.5);
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 4px;
            border: 1px solid transparent;
            color: #fff;
            background-color: #2196f3;
            border-color: #2196f3;
            font-weight: 400;
            text-align: center;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

            &:hover {
                background-color: #1385e2;
            }
        }
    }

    footer {
        height: 60px;
        color: white;
        a {
            color: white;
            text-decoration-skip-ink: auto;
            opacity: 0.6;
            font-weight: 600;
        }
    }
}

@import "parts/notify";
