$color-primary: #886ab5;
$color-success: #1dc9b7;
$color-info: #2196f3;
$color-warning: #ffc241;
$color-danger: #fd3995;
$color-fusion: darken(desaturate(adjust-hue($color-primary, 5), 80%), 25%);

$primary-50: lighten($color-primary, 25%) !default;
$primary-100: lighten($color-primary, 20%) !default;
$primary-200: lighten($color-primary, 15%) !default;
$primary-300: lighten($color-primary, 10%) !default;
$primary-400: lighten($color-primary, 5%) !default;
$primary-500: $color-primary !default;
$primary-600: darken($color-primary, 5%) !default;
$primary-700: darken($color-primary, 10%) !default;
$primary-800: darken($color-primary, 15%) !default;
$primary-900: darken($color-primary, 20%) !default;

$info-50: lighten($color-info, 25%) !default;
$info-100: lighten($color-info, 20%) !default;
$info-200: lighten($color-info, 15%) !default;
$info-300: lighten($color-info, 10%) !default;
$info-400: lighten($color-info, 5%) !default;
$info-500: $color-info !default;
$info-600: darken($color-info, 5%) !default;
$info-700: darken($color-info, 10%) !default;
$info-800: darken($color-info, 15%) !default;
$info-900: darken($color-info, 20%) !default;

body {
    background-color: $info-50; //50
    background-color: $info-100; //100
    background-color: $info-200;
    background-color: $info-300;//300
    background-color: $info-400;
    background-color: $info-500;//500
    background-color: $info-600;
    background-color: $info-700;//700
    background-color: $info-800;
    background-color: $info-900;
    background-color: rgba($info-500, 0.25);
    
}