#context-menu {
  width: 80px;
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  display: none;
  z-index: 1001; //1001 刚好大于遮罩的 1000

  li {
    list-style: none;
    margin: 3px 0;
    width: 100%;

    a {
      display: inline-block;
      text-decoration: none;
      color: #555;
      width: 100%;
      padding: 0;
      text-align: center;
      &:hover {
        color: white;
        background-color: $info-500;
      }
    }
  }
}

/* 遮罩 */
#zhezhao {
  width: 100%;
  height: 100%;
  -moz-opacity: 0;
  opacity: 0.6;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 1000;
  // background-color: black;
}
