/* 基本的table样式 */
.table-container {
  border: 1.3px solid $info-400;
}

.table-button {
  height: 50px;
  background-color: #edf5fb;
}
table {
  // font: 1em sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;

  td,
  th {
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-top: none;
    padding: 3.1px 6.3px;
    line-height: 20px;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden;

    // border-top: 1px solid #218fd7;
    // border-left: 1px solid lightgray;
    // border-right: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
  }


  td:nth-child(1),
  th:nth-child(1) {
    border-left: none;
  }

  td:nth-last-child(1),
  th:nth-last-child(1) {
    border-right: none;
  }

  tr:nth-last-child(1) {
    border-bottom: none;
  }

  thead th {
    color: white;
    background: $info-400;
    height: 35px;
    cursor: pointer;
  }

  tr {
    height: 30px;
  }

  tr:hover,
  .focus {
    background-color: #d2eff7;
  }
}
