.tree-show {
  height: 95%;
  min-width: 300px;

  .autocomplete {
    margin-bottom: 10px;
  }

  input {
    width: 70%;
    height: 30px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;

    &:hover,
    &:focus {
      border-color: $info-200;
    }
  }

  button {
    color: white;
    background-color: $color-info;
    margin-left: 3px;
    vertical-align: middle;

    &:hover {
      background-color: $info-700;
    }
  }
}

.tree-title {
  color: white;
  background-color: $info-700;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  margin-bottom: -2px;
  border: 1px solid $info-500;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tree-container {
  border: 1px solid $info-500;
  border-top: 0;
  border-radius: 3px;
  height: 86%;
  overflow-y: auto;
  overflow-x: hidden;
}

#tree {
  position: relative;
  list-style-type: none;
  margin-left: 20px;
  padding: 0 0 0 1rem;

  ul {
    list-style-type: none;
    margin-left: 30px;
    padding: 0;
  }

  li {
    position: relative;
    padding: 3px 0;
    margin: 0;
    cursor: pointer;
    width: 96%;
    // clear: both;

    input {
      position: absolute;
      font-size: 14px;
      width: 80%;
      height: $node-height * 0.99;
      margin-left: 1%;
      margin-bottom: 1px;
      z-index: 1002; //值比遮罩高一点
    }

    &::before {
      content: "";
      left: -20px;
      position: absolute;
      right: auto;
      border-left: 1px dotted #67b2dd;
      bottom: 50px;
      height: 100%;
      top: 0px;
      width: 10px;
    }

    &:last-child::before {
        height: 16px;
    }


    &::after {
      content: "";
      left: -20px;
      position: absolute;
      right: auto;
      border-top: 1px dotted #67b2dd;
      height: 20px;
      top: 15px;
      width: 20px;
    }
  }

  .item,
  .item-down {
    // margin-left: -21.5px;
    user-select: none;
    vertical-align: middle;
  }

  .item::before,
  .item-down::before {
    // content: url("/assets/img/close-blue3.png");
    // margin-right: 6px;
    // vertical-align: middle;
    // display: inline-block;
  }

  .nested {
    display: none;
  }

  .active {
    display: block;
  }

  .leaf {
    height: $node-height;
    overflow: hidden;

    &.is-selected {
      font-weight: bold;
    }
  }

  .selected.is-selected {
    font-weight: normal;
  }

  .found-color {
    font-style: italic;
    font-weight: bold;
  }
}
