#tree {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin-left: 30px;

  ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
  }

  li {
    margin-top: 3px;
    cursor: pointer;
    width: 96%;

    input {
      position: absolute;
      font-size: 14px;
      width: 80%;
      height: $node-height * 0.99;
      margin-left: 1%;
      margin-bottom: 1px;
      z-index: 1002;  //值比遮罩高一点
    }
  }

  .item,
  .item-down {
    margin-left: -21.5px;
    user-select: none;
    vertical-align: middle;
  }

  .item::before,
  .item-down::before {
    content: url("/assets/img/close-blue3.png");
    margin-right: 6px;
    vertical-align: middle;
    display: inline-block;
  }

  .nested {
    display: none;
  }

  .active {
    display: block;
  }

  .leaf {
    height: $node-height;
    overflow: hidden;

    &.is-selected {
      font-weight: bold;
    }
  }

  .selected.is-selected {
    font-weight: normal;
  }

  .found-color {
    font-style: italic;
    font-weight: bold;
  }
}
