.business_query {
    .query-search {
        label {
            margin: 0 6px 22px 30px;
        }

        .date-input {
            width: 100px;
            margin-left: 3px;
        }

        button {
            margin-left: 10px;
        }

        #autocomplete-list {
            margin-top: 15px;
        }

        .search-div {
            display: flex;            
            margin-left: 290px;

            .checkmark {
                top: 8px;
            }
        }
    }
}
