.buy-in {
    #supplier-info {
        color: darkgreen;
        padding: 3px 10px;
        height: 25px;
        width: 98%;
        margin-left: 1px;
        margin-bottom: 3px;
        background-color: lighten($color-info, 42%);
    }

    #buy-cate {
        margin-left: 15px;
        cursor: pointer;
    }

    .has-auto {
        left: 136;
    }

    .buy-items > div {
        display: inline-block;
    }

    .table-items {
        width: 78%;
        overflow: auto;

        th {
            cursor: default;
        }

        tbody {
            tr {
                height: 33px;

                td:nth-child(1) {
                    text-align: center;
                }

                &:hover {
                    border-left: 3px solid $color-info;
                    background-color: transparent;
                    // td:nth-child(1) {
                    //     font-weight: bold;
                    // }
                }
            }
        }

        td {
            padding-top: 0;
            padding-bottom: 0;
        }

        input {
            border: none;

            &:focus {
                background-color: #fffcc8;
                & + button {
                    color: blue;

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 2px 6px 0 rgba(33, 150, 243, 0.5);
                    }
                }
            }
        }

        select {
            border: none;
        }

        // button {
        //     display: none;
        // }

        .auto-edit {
            position: absolute;
            margin-left: -2px;
            margin-top: -15px;
            z-index: 0;
        }

        .product-search-button {
            width: 20px;            
            height: 28px;            
            font-weight: bold;
            margin-left: -1px;
            padding: 0;
            background-color: transparent;
            color: transparent;
            border: 0;
            box-shadow: none;
            cursor: default;
        }

        .inputting {
            td:nth-child(2),
            td:nth-last-child(1),
            td:nth-last-child(2),
            td:nth-last-child(3),
            td:nth-last-child(4) {
                border-bottom: 1px solid tomato;
            }
        }

        .autocomplete {
            //不遮挡供应商自动完成
            z-index: 18;
        }

        .position {
            // //不被下一行的自动完成遮挡
            // .autocomplete {
            //     z-index: 30;
            // }

            .autocomplete-items {
                width: 130px;
                div {
                    width: 115px;
                }
            }
        }
    }

    .table-auto {
        table {
            border: 1px solid $success-300;
        }

        thead {
            tr {
                &:hover {
                    border-left: 0;
                }
            }

            th {
                height: 28px;
                background-color: $success-600;
                border: none;
            }
        }

        tbody {
            background-color: white;

            tr {
                height: 28px;
                cursor: pointer;
                td {
                    border: none !important;
                }

                td:nth-child(1) {
                    text-align: left;
                }

                &:hover {
                    border-left: 0;
                    background-color: lighten($color-success, 42%);
                    td:nth-child(1) {
                        font-weight: normal !important;
                    }
                }
            }

            .autocomplete-active {
                color: black;
                background-color: lighten($color-success, 42%);
            }
        }

        // &:hover {
        //     td:nth-child(1) {
        //         font-weight: normal !important;
        //     }
        // }
    }

    .table-history {
        width: 296px;
        margin-left: 5px;
        float: right;
        th {
            cursor: default;
        }

        tr {
            height: 33px;
        }

        .table-info {
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }

    .autocomplete {
        position: relative;
        margin-left: -6.5px;
        $auto-width: 260px; //按需修改
        input {
            width: $auto-width;
        }

        .autocomplete-items {
            width: $auto-width * 0.998;
            top: 28;
            left: 0;

            div {
                width: $auto-width * 0.94;
            }
        }
    }
}
