.buy-in {
    #supplier-info {
        color: darkgreen;
        padding: 3px 10px;
        height: 25px;
        width: 98%;
        margin-left: 1px;
        margin-bottom: 3px;
        background-color: lighten($color-success, 50%);
    }
}
