.debt {
    .form-group {
        margin-bottom: 0;
    }

    .query-search {
        display: flex;
        align-items: center;

        select {
            height: 30px;
        }

        #autocomplete-list {
            margin-top: 1px;
            margin-left: 10px;
        }
        .search-div {
            margin-left: 10px;
        }
    }

    .autocomplete {
        position: relative;
        margin-left: 8px;
    }

    .debt-show {
        margin-top: 6px;
        display: flex;
    }

    .customer-list {
        width: 19%;
        height: calc(100vh - 200px);
        margin-right: 10px;
        border: 1px solid lightgray;
    }

    .table-container {
        width: 80%;
    }
}
