.debt {
    .form-group {
        margin-bottom: 0;
    }

    .query-search {
        display: flex;
        align-items: center;

        select {
            height: 30px;
        }

        #autocomplete-list {
            margin-top: 1px;
            margin-left: 10px;
        }
        .search-div {
            margin-left: 10px;
        }
    }

    .autocomplete {
        position: relative;
        margin-left: 8px;
    }

    .debt-show {
        margin-top: 6px;
        display: flex;
    }

    .customer-list {
        width: 19%;
        height: calc(100vh - 200px);
        margin-right: 10px;
        border: 1px solid lightgray;

        .list-title {
            display: flex;
            // align-content: center;
            height: 37px;
            text-align: center;
            color: white;
            background-color: $color-info;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 6px;

            span {
                margin: 0 auto;
                align-self: center;
            }
        }

        .name-list {
            height: 80%;
            overflow-y: auto;

            p {
                margin: 0 1px;
                padding: 6px 10px;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: $info-100;
                }
            }
        }
    }

    .customer-name {
        margin-left: 50px;
        font-weight: bold;
    }

    .table-container {
        width: 80%;
        thead th {
            cursor: default;
        }

        tbody {
            text-align: right;

            tr {
                height: 40px;
            }

            td:nth-child(1) {
                text-align: center;
            }
        }
    }
}
