.debt {
    .form-group {
        margin-bottom: 0;
    }

    .query-search {
        display: flex;
        align-items: center;

        select {
            height: 30px;
        }

        #autocomplete-list {
            margin-top: 1px;
            margin-left: 10px;
        }
        .search-div {
            margin-left: 10px;
        }
    }

    .autocomplete {
        position: relative;
        margin-left: 8px;
    }
}
