.home-page {
    .home-content {
        padding: 10px 0 30px 20px;
        height: calc(100vh - 200px);
    }

    #help-info {
        display: flex;
    }

    #date-now {
        margin-right: 15px;
    }

    .show-chart {
        display: flex;
        margin-bottom: 80px;
    }

    .chart {
        width: 48%;
        margin-right: 30px;
    }

    .show-tip {
        display: flex;
        & > div {
            cursor: pointer;
        }
    }

    .word {
        margin-left: 30px;
        margin-top: 10px;
    }

    .tip {
        display: flex;
        justify-content: space-between;
        color: white;
        width: 18%;
        height: 120px;
        border-radius: 4px;
        margin-right: 35px;

        i {
            display: block;
            font-size: 80px;
            margin-top: 26px;
            margin-right: 6px;
            opacity: 0.2;
        }
    }
    #sale-tip {
        background-color: #a38cc6;
    }

    #buy-tip {
        background-color: #6ab8f7;
    }

    #warn-tip {
        background-color: #ffca5b;
    }

    #warn-tip2 {
        background-color: #ffca5b;
    }

    #use-tip {
        background-color: #4de5d5;
        cursor: default;
    }
}
