.kp {
  .check-radio .checkmark {
    top: 2px;
  }
  .buy-buttons {
    width: 260px;

    button {
      width: 60px;
      margin: 4px 6px;
    }
  }
  .table-items {
    margin-right: 10px;
  }

  .documents-show .table-docs {
    margin-right: 5px;
  }
}
