.material {
    .fields-show {
        padding-left: 15px;
    }

    .table-history {
        margin-right: 10px;
    }

    .table-items {
        margin-right: 0;
    }

    .table-head {
        display: flex;
        flex-wrap: wrap;
    }

    .material-doc {
        display: flex;
        flex-wrap: wrap;
        margin-left: 18px;
        align-items: baseline;
    }

    .material-value {
        margin-right: 10px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    #lu_button {
        margin-left: -8px;
        margin-right: 8px;
    }

    .check-radio .checkmark {
        top: -14px;
    }

    .autocomplete {
        position: relative;
        margin-left: 1px;

        $auto-width: 210px; //按需修改
        input {
            width: $auto-width;
        }

        .autocomplete-items {
            width: $auto-width * 0.998;
            top: 28px;
            left: 0;

            div {
                width: $auto-width * 0.94;
            }
        }
    }

    .table-history, .table-docs {
        width: 320px;

        tbody {
            tr {
                cursor: pointer;
            }
            td {
                text-align: left;
                border: none;
                // border-: none;
                // border-bottom: none;
            }
        }
    }

    .documents-show {
        display: flex;
        //flex-direction: column;
        // width: 600px;
        margin-left: 5px;
        margin-right: 10px;

        div {
            // width: 340px;
            margin-left: 0;
            margin-right: 0;
        }

        .table-docs {
            width: 220px;
            margin-right: 10px;
            td {
                text-align: center;
            }
        }
        tbody {
            overflow-y: auto;
        }
        .has-bak {
            background-color: $table-hover-color;
        }
    }
}
