.product-content {
    display: flex;
    align-items: flex-start;

    .tree-show {
        flex-grow: 0;
        flex-shrink: 0;
        height: calc(100% - 200px);
    }

    .tree-container {
        height: calc(100vh - 240px);
    }

    #product-show {
        flex-grow: 1;
        margin-left: 20px;
        width: calc(100% - 340px);
    }

    .table-product {
        overflow-x: auto;
    }

    .table-tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50%;
    }

    .table-edit {
        min-width: 200px;
        button {
            margin-left: 10px;
        }
    }

    .data-button {
        margin-left: 40px;
        margin-right: 20px;
        min-width: 300px;

        button {
            margin-left: 10px;
        }
    }

    #product-name {
        font-weight: bold;
        position: relative;
        margin-left: 30px;
        top: 0;
    }

    #product-id {
        position: relative;
        font-weight: normal;
        color: rgb(242, 246, 243);
        top: 0;
        margin-left: 10px;
    }

    td:nth-child(2),
    th:nth-child(2) {
        border-left: none !important;
    }

    table th {
        padding: 0;
    }
}
