.report-design {
    display: flex;
    padding: 6px 20px;
    margin: 14px 0;
    background-color: lighten($info-400, 38%);

    .build-model {
        display: flex;
        align-items: center;

        div {
            margin: 0 10px;
        }

        .check-radio {
            &:hover {
                font-weight: bold;
            }
        }

        .model-select {
            height: 30px !important;

            &:disabled {
                border-color: lightgray;
            }
        }

        .model-div {
            display: flex;
            align-items: center;

            input {
                width: 160px;
                height: 22px;

                &:disabled {
                    border-color: lightgray;
                }
            }

            #default-label {
                width: 80px;
                margin-left: 20px;
                // margin-right: 20px;

                &:hover {
                    font-weight: normal;
                }
            }

            #default-check {
                width: 2px;
            }

            button {
                padding: 0 20px;
                width: 90px;
                // margin-left: 20px;
            }
        }
    }
}

