.statis {
    .query-content {
        #search-date {
            width: 130px;
        }

        label {
            margin: 4px;
        }
    }

    .select-sm {
        width: 100px;
        margin-right: 20px;
    }

    .debt-show {
        height: calc(100vh - 200px);
    }

    #search-date {
        margin-right: 20px;
    }
    
    .table-container {
        width: 300px;
    }

    .chart-div {
        width: calc(100% - 320px);
        margin-left: 10px;
    }
}
