// 部分样式与 _documentquery.scss 共用
.stock_query {
    .stock_content {
        display: flex;
        padding-top: 10px;
    }

    .query-content {
        width: 49%;
        min-width: 400px;
        margin-right: 20px;
    }

    .table-top {
        justify-content: flex-start;
    }

    .title-note {
        margin-left: 50px;
    }

    #search-input,
    #search-input2 {
        width: 220px;
    }

    #month-input {
        width: 40px;
    }

    #month-button {
        margin-left: 20px;
    }
}
