.stock {
  .autocomplete .autocomplete-items {
    width: 209.58px;
    top: 300px;
    left: 520px;
  }

  #save-button {
    margin-right: 20px;
    width: 100px;
  }
  #remember-button {
    width: 100px;
  }
}