.system-set {
    .system-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: calc(100vh - 200px);

        & > div {
            width: 32%;
            padding-bottom: 10px;
            margin: 20px 10px;
            // margin-bottom: 30px;
            border: 1px solid rgb(229, 237, 240);
            border-radius: 3px;
        }

        .title {
            position: relative;
            top: -26px;
            left: 30px;
            width: 60px;
            padding: 0 5px;
            background-color: white;
        }

        select {
            width: 100px;
            margin: 0 10px;
        }

        .form-group {
            display: flex;
            align-items: center;
            padding-left: 40px;
        }

        #dh {
            // display: flex;
            // align-items: center;
            // padding-left: 40px;

            select {
                width: 60px;
            }

            .check-radio {
                margin-left: 40px;
            }
        }

        #example-price,
        #example-mount {
            margin-left: 30px;
        }

        #example-dh {
            margin-left: 40px;
            margin-bottom: 15px;
        }
    }

    .submit-button {
        width: 100px;
        margin: 0 auto;
    }
}
