.user-manage {
    .inline-div {
        display: inline-block;
        width: 45%;
    }

    .table-search {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    #search-input {
        width: 180px;
        height: 30px;
        padding: 2px 8px;
        border-color: #e8e8e8;

        &:hover,
        &:focus {
            border-color: $info-200;
        }
    }

    #serach-button {
        color: white;
        background-color: $color-info;
        margin-left: 5px;

        &:hover {
            background-color: $info-700;
        }
    }

    tbody tr td:nth-child(1) {
        text-align: center;
    }
}
