body {
  font-size: 14px;
  padding-top: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
input:focus,
textarea:focus {
  border: 1px solid #82caff;
}

input {
  height: 25px;
}

a {
  text-decoration: none;
}

button {
  padding: 3px 12px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
button:hover {
  opacity: 0.8;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 30;
  background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
  background-color: #584475;
}
.top #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
}
.top #logo img {
  width: 30px;
}
.top #title {
  font-size: 16px;
  color: white;
  margin-left: 6px;
}
.top .menu-log {
  color: white;
  margin-right: 15%;
}
.top .menu-log a {
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.log-show {
  margin-top: 10%;
}