@charset "UTF-8";
/* the emeralds */
/* the amethyths */
/* the topaz */
/* the rubies */
/* 11px   */
/* 12px   */
/* 12.5px */
/* 14px   */
/* 15px   */
/* 16px   */
/* 28px   */
a,
a:active,
a:focus,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
  outline: none;
  outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

input {
  outline: none;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html body a {
  color: #886ab5;
  text-decoration: none;
  background-color: transparent;
}
html body a:hover {
  color: #967bbd;
  text-decoration: none;
}

.content {
  width: 95%;
  flex: 1;
}

footer {
  height: 2.8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
  background-color: #62468d;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.13);
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}
#logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo a img {
  margin-right: 8px;
}
#logo a #title {
  font-size: 16px;
  color: white;
}
#logo a:hover #title {
  color: #21dfcb;
}

#menu {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
}

.menu-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-li {
  width: auto;
  position: relative;
  padding: 0;
  margin: 0 0 0 30px;
}
.menu-li a {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 150ms, color 150ms;
}

.caret {
  font-size: 18px;
  font-weight: 900;
  opacity: 0.92;
  display: none;
  position: absolute;
  margin-left: 15px;
  margin-top: -13px;
  transition: transform 150ms, color 150ms, -webkit-transform 150ms;
}

.sub-menu {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  min-width: 30px;
  margin-left: 6px;
  margin-top: 0;
  display: none;
  height: auto !important;
  box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d1d1;
  border-radius: 0.375rem;
  z-index: 999;
  transition: margin 150ms, opacity 150ms, visibility 0ms;
  transition-delay: 600ms, 600ms, 750ms;
  background-color: white;
}

.menu-link {
  color: white;
}

.menu-li:hover .sub-menu {
  display: block;
}
.menu-li:hover .nav-icon,
.menu-li:hover .menu-text {
  color: #21dfcb;
}
.menu-li:hover .caret {
  color: white;
  display: block;
}

.sub-ul {
  list-style: none;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
  border-width: 0 !important;
  margin-left: -36px;
  overflow: visible;
}

.nav-item {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -4px;
}
.nav-item:not(:last-child) {
  margin-bottom: 10px;
}
.nav-item:hover {
  background-color: #6e4e9e;
}
.nav-item:hover .nav-text {
  color: white;
}

.nav-icon {
  margin-right: 5px;
  margin-left: 0.125em;
  width: 1.25rem;
  color: white;
  font-size: 1.25em;
  transition: color 150ms;
}

.menu-text,
.nav-text {
  font-size: 0.925rem;
  font-weight: 500;
}

.nav-text {
  color: #363636;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
}

#user-name {
  font-size: 0.925rem;
  color: white;
  margin-right: 20px;
  padding-bottom: 2px;
}
#user-name:hover {
  color: #21dfcb;
}

#exit {
  font-size: 16px;
  margin-left: 4px;
  color: #21dfcb;
}
#exit:hover .nav-icon {
  color: #21dfcb;
}

.show-bottom {
  border-bottom: 2px solid #21dfcb;
}

.top-title {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.top-title .t1 {
  font-size: 14px;
}
.top-title i {
  margin-left: 5px;
  margin-right: 5px;
}

button {
  cursor: pointer;
  border-radius: 4px;
}
button.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1.125rem;
  font-size: 0.8125rem;
  line-height: 1.47;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
button.btn-primary {
  color: white;
  background-color: #886ab5;
  border-color: #886ab5;
  box-shadow: 0 2px 6px 0 rgba(136, 106, 181, 0.5);
}
button.btn-primary:hover {
  background-color: #7a59ad;
  border-color: #6e4e9e;
  text-decoration: none;
}
button.btn-info {
  color: white;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: 0 2px 6px 0 rgba(33, 150, 243, 0.5);
}
button.btn-info:hover {
  background-color: #0d8aee;
  border-color: #0c7cd5;
  text-decoration: none;
}

input {
  border-radius: 4px;
}
input:focus {
  border: 1px solid #886ab5;
}

.form-control {
  font-size: 14px;
  height: calc(1.47em + 1rem + 2px);
  padding: 0.5rem 0.875rem;
  font-weight: 400;
  line-height: 1.47;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e5e5e5;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label,
.form-group input {
  margin-right: 6px;
}

.no-border {
  border: 0;
}
.no-border:focus {
  border: 0;
}

.notifier-container {
  z-index: 999;
  position: fixed;
  top: 65px;
  right: 0;
  padding: 0 15px;
  width: 230px;
  max-width: 98%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.notifier-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.notifier {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin-bottom: 12px;
  padding: 8px;
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 15px 0 rgba(0, 0, 0, 0.05);
  opacity: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity 0.6s ease;
  -moz-transition: all 0.6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity 0.6s ease;
  -ms-transition: all 0.6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity 0.6s ease;
  transition: all 0.6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity 0.6s ease;
}
.notifier.info {
  background-color: rgba(57, 57, 212, 0.616);
}
.notifier.success {
  background-color: green;
}
.notifier.warning {
  color: red;
  background-color: yellow;
}
.notifier.danger {
  background-color: #BB0100;
}
.notifier.shown {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.notifier：hover {
  opacity: 1;
}

.notifier-body {
  font-size: 13px;
  margin-left: 10px;
}

.notifier-close {
  position: absolute;
  top: 2px;
  right: 4px;
  width: 16px;
  height: 30px;
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 17px;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;
  border: 0;
}
.notifier-close:hover, .notifier-close:focus {
  opacity: 1;
}

/* 基本的table样式 */
table {
  font: 1em sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1.7px solid #218fd7;
  width: 100%;
  table-layout: fixed;
}
table td,
table th {
  vertical-align: middle;
  border: 1px solid lightgray;
  padding: 3.1px 6.3px;
  line-height: 18.33px;
  word-break: keep-all;
  /* 不换行 */
  white-space: nowrap;
  /* 不换行 */
  overflow: hidden;
  border-top: none;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
table td:nth-child(1),
table th:nth-child(1) {
  border-left: none;
}
table td:nth-last-child(1),
table th:nth-last-child(1) {
  border-right: none;
}
table thead th {
  color: white;
  background: #218fd7;
}
table tr:hover,
table .focus {
  background-color: #d2eff7;
}

.user-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.user-set > div {
  width: 45%;
  min-width: 520px;
}
.user-set .title {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.user-set .title span {
  margin-left: 6px;
}
.user-set form {
  margin-left: 25px;
}
.user-set #phone-num {
  display: flex;
  align-items: center;
}
.user-set .form-label {
  display: inline-block;
  width: 110px;
  text-align: right;
}
.user-set #show-rights {
  display: flex;
  align-items: flex-start;
}
.user-set #rights {
  width: 80%;
  margin-left: 15px;
}

#password-set button {
  margin-left: 185px;
}

.user-manage .inline-div {
  display: inline-block;
  width: 45%;
}

/*# sourceMappingURL=sales.css.map */
