a,
a:active,
a:focus,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}

html {
    scroll-behavior: smooth;
    body {
        font-size: $fs-base;
        padding-top: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: white;

        a {
            color: $link-color;
            text-decoration: none;
            background-color: transparent;

            &:hover {
                color: $link-hover-color;
                text-decoration: none;
            }
        }
    }
}
