footer {
    height: 2.8125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //color: darken($base-text-color, 20%);
    color:rgb(140, 138, 138) ;
}
