.red {
    background-color: #db4747;
}

.green {
    background-color: #36ad82;
}

.hide {
    display: none !important;
}

.no-border {
    border: 0;
    &:focus {
        border: 0;
    }
}

.search-input {
    height: 13px;
    display: inline-block;
    width: 200px;
    margin-right: 3px;

    &:hover {
        border-color: $form-border-color;
    }

    &:focus {
        border-color: $color-primary;
    }
}

.table-top {
    // display: flex;
    // align-items: center;
    // justify-content: last baseline;
    margin-left: 3px;
    margin-bottom: 10px;
}

