@use time::now;
@use super::statics::*;
@(content: Content, user: String)
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="favicon" href="/stock/assets/img/logo_blue.png" />
    <link rel="stylesheet" href="/stock/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stock/static/@sales_css.name" />
    <title id='title-show'>库存查询</title>
</head>

<body>
    <div class="header">
        <div id="logo">
            <a href="/stock/">
                <img src="/stock/assets/img/logo_blue.png" width="24px" />
                <span id="title">五星（天津）石油装备有限公司</span>
            </a>
        </div>
        <div id="title-name">
            <p><i class="nav-icon fa fa-search"></i>库存查询系统</p>
        </div>
        <div id="go-home">
            <a id="my-orders" href="/stock/myorders" class="nav-link">
                <span class="orders-icon-wrapper">
                    <i class="nav-icon fa fa-list-alt"></i>
                    <span id="orders-count" class="orders-badge" style="display: none;">0</span>
                </span>
                <span id="orders-text">我的订单</span>
            </a>
            <div id="shopping-cart" class="cart-container">
                <span class="cart-icon-wrapper">
                    <i class="nav-icon fa fa-shopping-cart"></i>
                    <span id="cart-count" class="cart-badge" style="display: none;">0</span>
                </span>
                <span id="cart-text">购物车</span>
            </div>
            <a id="change-pwd" href="/stock/user_set"><i class="nav-icon fa fa-user"></i>修改密码</a>
            <a id="logout" title="退出登录" href="/stock/logout"><i class="nav-icon fa fa-sign-out"></i></a>
        </div>
    </div>
    <div id="user-id" hidden>@user</div>

    <div class="modal" id="for-click-close">
        <div class="modal-dialog" id="modal-drag">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title"></p>
                    <button type="button" class="top-close close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div id="modal-info"></div>
                    <button type="button" class="btn btn-info" id="modal-sumit-button">
                        提交
                    </button>
                    <button type="button" class="btn btn-second" id="modal-close-button">
                        返回
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        @:content()
    </div>

    <footer>
        <p><span id="my-company">五星（天津）石油装备有限公司</span> &#169; @now().strftime("%Y").unwrap().to_string()
        </p>
    </footer>
    <script src="/stock/static/@base_js.name"></script>
</body>

</html>