@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData, num_position: String)

@:base({
<link rel="stylesheet" href="/assets/plugins/laydate/theme/default/laydate.css">
<link rel="stylesheet" href="/assets/plugins/hiprint/css/print-lock.css">

<div class="buy-in">
    <div class="top-title"><span><i class="fa fa-retweet"></i> 商品出入库 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 商品采购 </span>
        <p id="help-info" title="帮助信息"><img src="/assets/img/ask.png" width="20px"></p>
        <span id="num_position" hidden>@num_position</span>
    </div>
    <div class="buy-content">
        <div class="inout-top">
            <div class="fields-show">
                <div class="form-group">
                    <select class="select-sm" name="buy-cate" id="buy-cate">
                        <option value="采购入库" selected>采购入库</option>
                        <option value="退货出库">退货出库</option>
                    </select>
                </div>
                <div class="form-group has-auto">
                    <div class="form-label" style="margin-right: 8px;">
                        <label id="customer-suplier">供应商</label>
                    </div>
                    <div class="form-input autocomplete">
                        <input class="form-control input-sm" type="text" id="supplier-input" />
                    </div>
                    <button class="btn btn-info btn-sm" id="supplier-serach">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="buy-buttons">
                <div class="has-dh">№: <span id="dh">新单据</span></div>
                <div class="buttons">
                    <button class="btn btn-info btn-sm" id="save-button">保存</button>
                    <button class="btn btn-info btn-sm" id="print-button">打印</button>
                    <button class="btn btn-info btn-sm" id="remember-button">未记账</button>
                </div>
            </div>
        </div>
        <div class="info-and-choose">
            <div id="supplier-info"></div>
            <div id="choose-div">
                <select class="select-sm" name="print-choose" id="print-choose">

                </select>
            </div>
        </div>
        <div class="buy-items">
            <div class="table-container table-items not-scroll-left">
                <table>
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-ctrl">
                    <div class="table-button">
                        <button class="btn btn-info btn-sm" id="row-insert" title="插入"><i
                                class="fa fa-plus-square"></i></button>
                        <button class="btn btn-info btn-sm" id="row-del" title="删除"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-info btn-sm" id="row-up" title="上移"><i
                                class="fa fa-arrow-up"></i></button>
                        <button class="btn btn-info btn-sm" id="row-down" title="下移"><i
                                class="fa fa-arrow-down"></i></button>
                    </div>

                    <div class="table-tips" id="sum-money">
                        金额合计： 元
                    </div>

                    <div class="table-info">
                        共 <span id="total-records"></span> 条记录
                    </div>
                </div>
            </div>
            <div class="table-container table-history">
                <table>
                    <thead>
                        <tr>
                            <th width=10%>近期采购</th>
                            <th width=8%>单价</th>
                            <th width=6%>数量</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-ctrl">
                    <div class="table-info">
                        最多显示 10 条记录
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/plugins/jquery/jquery-3.5.1.slim.min.js"></script>
<script src="/assets/plugins/barcode/JsBarcode.all.min.js"></script>
<script src="/assets/plugins/qrcode/qrcode.js"></script>
<script src="/assets/plugins/hiprint/js/hiprint.bundle.js"></script>
<script src="/assets/plugins/jquery/jquery.hiwprint.js"></script>

<script src="/assets/plugins/laydate/laydate.js"></script>
<script type="module" src="/assets/js/pages/buyin.js"></script>
}, user.name.clone())