@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<link rel="stylesheet" href="/assets/plugins/laydate/theme/default/laydate.css">
<div class="buy-in">
    <div class="top-title"><span><i class="fa fa-download"></i> 商品出入库 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 商品采购 </span>
        <p id="help-info" title="帮助信息"><img src="/assets/img/ask.png" width="20px"></p>
    </div>
    <div class="buy-content">
        <div class="inout-top">
            <div class="fields-show">
                <div class="form-group">
                    <select class="select-sm" name="buy-cate" id="buy-cate">
                        <option value="进货入库" selected>进货入库</option>
                        <option value="退货出库">退货出库</option>
                    </select>
                </div>
                <div class="form-group has-auto">
                    <div class="form-label" style="margin-right: 8px;">
                        <label>供应商</label>
                    </div>
                    <div class="form-input autocomplete">
                        <input class="form-control input-sm has-value" type="text" id="supplier-input" />
                    </div>
                    <button class="btn btn-info btn-sm" id="supplier-serach">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="buy-buttons">
                <div class="has-dh">№: <span id="dh">CG2021-03-04-18134</span></div>
                <div class="buttons">
                    <button class="btn btn-info btn-sm" id="sumit-button" disabled=true>保存</button>
                    <button class="btn btn-info btn-sm" id="sumit-button" disabled=true>打印</button>
                    <button class="btn btn-info btn-sm" id="sumit-button" disabled=true>审核</button>
                </div>
            </div>
        </div>
        <div id="supplier-info"></div>
        <div class="buy-items">
            <div class="table-container table-items">
                <table>
                    <thead>
                        <tr>
                            <th id="price" width='80px'>单价</th>
                            <th width='80px'>数量</th>
                            <th width='100px'>仓库</th>
                            <th width='100px'>库位</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-ctrl">
                    <div class="table-tip">提示：</div>
                    <div class="table-button">
                    </div>

                    <div class="table-info">
                        共 <span id="total-records"></span> 条记录
                    </div>
                </div>
            </div>
            <div class="table-container table-history">
                <table>
                    <thead>
                        <tr>
                            <th width=100>近期采购</th>
                            <th width=80>单价</th>
                            <th width=80>数量</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-ctrl">
                    <div class="table-info">
                        最多显示 10 条记录
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/plugins/laydate/laydate.js"></script>
<script type="module" src="/assets/js/pages/buyin.js"></script>
}, user.name.clone())