@use super::base;
@use crate::service::UserData;
@(user: UserData)

@:base({
<div class="docment-query business_query debt statis">
    <div class="top-title"><span><i class="fa fa-bar-chart"></i> 统计分析 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 库存成本 </span>
        <p id="help-info" title="帮助信息"><img></p>
    </div>
    <div class="query-content has-bak">
        <div id="query-show">
            <div class="table-top">
                <div class="query-search">
                    <select name="sta-cate" class="select-sm" id="statis-cate">
                        <option value="按月">按月统计</option>
                        <option value="按周">按周统计</option>
                        <option value="按日">按日统计</option>
                        <option value="按年">按年统计</option>
                    </select>
                    <label for="search-date">统计最近</label>
                    <input type="text" class="form-control search-input date-input" style="width: 60px;"
                        id="search-date">
                    <div id="info2" style="margin-left: -10px; margin-right: 20px;"></div>
                    <button class="btn btn-info btn-sm" id="statis-button">统计</button>
                    <div id="info">注：按月、周、日、年分别同比30、7、1、365天前的数据</div>
                </div>
                <div class="chart-select">
                    <select name="chart-cate" class="select-sm" id="chart-cate">
                        <option value="柱状图">柱状图</option>
                        <option value="折线图">折线图</option>
                    </select>
                </div>
            </div>

            <div class="debt-show">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th width="24%" style="border: none;border-bottom: 1px solid #edf1f3;">序号</th>
                                <th width="40%" id="th-date" style="border: none;border-bottom: 1px solid #edf1f3;">月份</th>
                                <th style="border: none;border-bottom: 1px solid #edf1f3;">库存成本</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="chart-div">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script src="/assets/plugins/chart/Chart2.min.js"></script>
<script type="module" src="/assets/pages/cost.js"></script>
}, user.name.clone(), format!("{}.css", user.theme.clone()))