@use super::base;
@use crate::service::UserData;
@(user: UserData, code: String, num_position: String)

@:base({
<link rel="stylesheet" href="/@code/assets/plugins/laydate/theme/default/laydate.css">

<div class="docment-query business_query debt">
    <div class="top-title"><span><i class="fa fa-user"></i> 客户供应商 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 债务结算 </span>
        <p id="help-info" title="帮助信息"><img></p>
        <p id="auto_cate" hidden></p>
        <span id="num_position" hidden>@num_position</span>
    </div>
    <div class="query-content has-bak">
        <div id="query-show">
            <div class="table-top">
                <div class="query-search">
                    <div class="form-group customer-select">
                        <select class="select-sm" name="customer-cate" id="customer-cate">
                            <option value="全部">全部</option>
                            <option value="客户">客户</option>
                            <option value="供应商">供应商</option>
                        </select>
                    </div>
                    <div class="form-input autocomplete">
                        <input type="text" class="form-control search-input autocomplete" id="search-customer"
                            placeholder="客户供应商（选填）">
                    </div>
                    <div class="search-div">
                        <input type="text" class="form-control search-input date-input" id="search-date1"
                            placeholder="起始日期"> _
                        <input type="text" class="form-control search-input date-input" id="search-date2"
                            placeholder="截止日期">
                        <button class="btn btn-info btn-sm" id="serach-button">搜索</button>
                    </div>
                    <div class="customer-name"></div>
                </div>
            </div>

            <div class="debt-show">
                <div class="customer-list">
                    <div class="list-title">
                        <span>该时间段发生业务的公司</span>
                    </div>
                    <div class="name-list">
                    </div>
                </div>

                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>单据类型</th>
                                <th>数量</th>
                                <th>单据金额</th>
                                <th>已结金额</th>
                                <th>免除金额</th>
                                <th>待结金额</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/@code/assets/plugins/laydate/laydate.js"></script>
<script type="module" src="/@code/assets/min/pages/debt.js"></script>
}, user.name.clone(), format!("{}.css", user.theme.clone()), code.clone())