@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: String, theme: String)

@:base({
<div class="help">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 帮助信息 </span>
        <p id="help-info" title="帮助信息" hidden></p>
    </div>
    <div class="help-content" style="padding: 2px 15px;font-size: 18px;">
        <p>1、 本软件由我们与美国同仁共同开发</p>
        <p>2、 请使用谷歌浏览器运行</p>
        <p>3、 页面右上角的蓝色按钮可提供帮助</p>
        <p>4、 软件所有功能均可定制，费用另议</p>
        <p>5、 软件费用由两部分组成： </p>
        <p>　　（1）一次性费用：500元/套，包含建立基础资料，云服务器和技术支持费用 </p>
        <p>　　（2）续费：300元/年（从第二年起），云服务器和技术支持付费</p>
        <p>6、 凡成功推介本软件的，每套提成300元</p>
        <p>7、 联系电话：13920953285 </p>
    </div>
</div>
}, user, theme)