@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: String)

@:base({
<div class="help">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 帮助信息 </span>
        <p id="help-info" title="帮助信息" hidden></p>
    </div>
    <div class="help-content" style="padding: 2px 15px;font-size: 18px;">
        <p>1、 本软件是我们与美国同仁共同开发的适用于全球华人商贸企业的应用软件。本着快速、简洁和适用的原则，软件结合了近百家华人企业的运作经验，
            采用先进的计算机软件技术，在诸多领域有创新或突破，达到同类软件的领先水平</p>
        <p>2、 运行本软件请使用谷歌浏览器或谷歌内核的浏览器（如：360或QQ浏览器）</p>
        <p>3、 每个功能页面右上角有帮助提示按钮，点击后可得到有用的帮助</p>
        <p>4、 本软件诸多功能可自行定制。同时，我们提供代码层次的深度定制</p>
        <p>5、 软件费用由两部分组成：
            （1）一次性费用：500元/套，包含建立基础资料，第一年的服务器和技术支持费用
            （2）每年续费：300元/年（从第二年起），包含一年服务器和技术支持费用</p>
        <p>6、 联系电话：13920953285（微信同）</p>
    </div>
</div>
}, user)