@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: String)

@:base({
<div class="help">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 帮助信息 </span>
        <p id="help-info" title="帮助信息" hidden></p>
    </div>
    <div class="help-content" style="padding: 2px 15px;">
        <p>1、 本软件特点：功能强大，操作简单，运行快速，用户不限</p>
        <p>2、 请使用谷歌浏览器或谷歌内核的浏览器（如：360或QQ浏览器）</p>
        <p>3、 功能页面右上角有帮助提示，随时查阅可减少自己摸索的时间</p>
        <p>4、 本软件已尽可能提供定制化功能，对于更多需求的企业，可联系我们深度定制</p>
        <p>5、 软件费用分两部分：
            （1）500元/套，包含建立基础资料，一年服务器和技术支持费用
            （2）300元/年（从第二年起），包含一年服务器和技术支持费用</p>
        <p>6、 联系电话：13920953285（微信同）</p>
    </div>
</div>
}, user)