@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: String)

@:base({
<div class="home-page">
    <div class="top-title"><span><i class="fa fa-home"></i> 首页 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 控制面板 </span>
        <p id="help-info"></p>
    </div>
    <div class="home-content">
        <div class="show-chart">
            <div class="chart">
                <p>近10日销售额：</p>
                <canvas id="myChart1"></canvas>
            </div>
            <div class="chart">
                <p>近10日库存成本变化：</p>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="show-tip">
            <div class="tip" id="sale-tip">
                <div class="word">
                    <h2> 35 张单据 </h2>
                    <p>今日销售单数</p>
                </div>
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="tip" id="buy-tip">
                <div class="word">
                    <h2> 12 张单据 </h2>
                    <p>今日采购单数</p>
                </div>
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="tip" id="warn-tip">
                <div class="word">
                    <h2> 19 种商品 </h2>
                    <p>滞库三个月以上</p>
                </div>
                <i class="fa fa-cubes"></i>
            </div>
            <div class="tip" id="warn-tip2">
                <div class="word">
                    <h2> 19 种商品 </h2>
                    <p>超过库存下限</p>
                </div>
                <i class="fa fa-cubes"></i>
            </div>
            <div class="tip" id="use-tip">
                <div class="word">
                    <h2>已使用本软件300周</h2>
                    <p>谢谢惠顾！</p>
                </div>
                <i class="fa fa-thumbs-up"></i>
            </div>
        </div>

    </div>
</div>

<script src="/assets/plugins/chart/Chart2.min.js"></script>
<script type="module" src="/assets/js/pages/home.js"></script>
}, user)