@use super::base;
@(user: String, theme: String)

@:base({
<div class="home-page">
    <div class="top-title"><span><i class="fa fa-home"></i> 首页 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 控制面板 </span>
        <p id="help-info"><span id="date-now"></span><img></p>
    </div>
    <div class="home-content has-bak">
        <div class="show-chart">
            <div class="chart">
                <p>近一年销售额（元）：</p>
                <canvas id="myChart1"></canvas>
            </div>
            <div class="chart">
                <p>近一年库存（Kg）：</p>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="show-tip">
            <div class="tip" id="sale-tip">
                <div class="word">
                    <h2><span id="sale-data"></span> 张 </h2>
                    <p>今日销售单据</p>
                </div>
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="tip" id="buy-tip">
                <div class="word">
                    <h2><span id="buy-data"></span> 张 </h2>
                    <p>今日采购单据</p>
                </div>
                <i class="fa fa-shopping-bag"></i>
            </div>
            <div class="tip" id="warn-tip">
                <div class="word">
                    <h2><span id="warn-data1"></span> 种商品 </h2>
                    <p>低于库存下限</p>
                </div>
                <i class="fa fa-cubes"></i>
            </div>
            <div class="tip" id="warn-tip2" style="background-color: #eb72aa;">
                <div class="word">
                    <h2><span id="warn-data2"></span> 种商品 </h2>
                    <p>滞库三个月以上</p>
                </div>
                <i class="fa fa-cubes"></i>
            </div>
            <div class="tip" id="use-tip">
                <div class="word">
                    <h2>运行第 <span id="use-day"></span> 天</h2>
                    <p>谢谢惠顾！</p>
                </div>
                <i class="fa fa-thumbs-up"></i>
            </div>
        </div>
    </div>
</div>

<script src="/assets/plugins/chart/chart.umd.js"></script>
<script type="module" src="/assets/js/pages/home.js"></script>
}, user, theme)