@use super::base;
@(user: String)

@:base({
<div class="home-page">
    <div class="top-title"><span><i class="fa fa-home"></i> 首页 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 控制面板 </span>
        <p id="help-info"><span id="date-now"></span><img></p>
    </div>
    <div class="home-content has-bak">
        <div class="show-chart">
            <div class="chart">
                <p>近一年销售额（万元）：</p>
                <canvas id="myChart1"></canvas>
            </div>
            <div class="chart">
                <p>近一年库存重量（吨）：</p>
                <canvas id="myChart2"></canvas>
            </div>
        </div>
        <div class="show-tip">
            <div class="show-div" id="show-03">
                <div class="tip" id="warn-tip">
                    <div class="word">
                        <h3><span id="buy-data"></span></h3>
                    </div>
                    <i class="fa fa-plus-square"></i>
                </div>
                <div class="reminder">
                </div>
            </div>
            <div class="show-div" id="show-05">
                <div class="tip" id="use-tip">
                    <div class="word">
                        <h3><span id="warn-data3"></span></h3>
                    </div>
                    <i class="fa fa-balance-scale"></i>
                </div>
                <div class="reminder">
                </div>
            </div>
            <div class="show-div" id="show-01">
                <div class="tip" id="sale-tip">
                    <div class="word">
                        <h3 id="sale-data"></h3>
                    </div>
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="reminder">
                </div>
            </div>
            <div  class="show-div" id="show-02">
                <div class="tip" id="buy-tip">
                    <div class="word">
                        <h3><span id="sale-data2"></span></h3>
                    </div>
                    <i class="fa fa-truck"></i>
                </div>
                <div class="reminder">
                </div>
            </div>
            <div  class="show-div" id="show-06">
                <div class="tip" id="pre-shen">
                    <div class="word">
                        <h3><span id="pre-data"></span></h3>
                    </div>
                    <i class="fa fa-edit"></i>
                </div>
                <div class="reminder">
                </div>
            </div>
            <div class="show-div" id="show-04">
                <div class="tip" id="warn-tip2">
                    <div class="word">
                        <h3><span id="warn-data2"></span></h3>
                    </div>
                    <i class="fa fa-search"></i>
                </div>
                <div class="reminder">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/plugins/chart/Chart2.min.js"></script>
<script type="module" src="/assets/js/pages/home.js"></script>
}, user)