@use super::base_html;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData, setup: Vec<&str>)

    @:base_html({
    <link rel="stylesheet" href="/assets/plugins/laydate/theme/default/laydate.css">

    <div class="buy-in material">
        <div class="top-title"><span><i class="fa fa-retweet"></i> 仓储管理 </span>
            <span class="t1" id="document-bz"><i class="fa fa-angle-double-right"></i> @setup[0] </span>
            <p id="help-info" title="帮助信息"><img></p>
        </div>
        <div class="buy-content">
            <div class="inout-top has-bak" style="width: 99%;">
                <div class="fields-show">
                    <div class="table-head"></div>
                    <div class="material-doc">
                        <label style="margin-right: 9px;">材料信息</label>
                        <div class="form-input" hidden>
                            <input class="form-control input-sm material-value" id="m_id" type="text" hidden>
                            <input class="form-control input-sm material-value" id="d_id" type="text" hidden>
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="名称" type="text" placeholder="名称"
                                readonly style="width: 60px;">
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="材质" type="text" placeholder="材质"
                                readonly style="width: 80px;">
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="规格" type="text" placeholder="规格"
                                readonly style="width: 80px;">
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="状态" type="text" placeholder="状态"
                                readonly style="width: 120px;">
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="执行标准" type="text" placeholder="执行标准"
                                style="width: 160px;">
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="生产厂家" type="text" placeholder="生产厂家"
                                readonly style="width: 80px;">
                        </div>
                        <div class="form-input">
                            <input class="form-control input-sm material-value" id="炉号" type="text" placeholder="炉号"
                                style="width: 120px;">
                            <button class="btn btn-sm btn-info" id="lu_button">质</button>
                            <input type="file" id="lu_upload" accept="application/pdf" hidden="hidden">
                        </div>
                        <div class="form-input autocomplete" style="position: relative">
                            <input class="form-control input-sm material-value" id="库位" type="text" placeholder="库位"
                                style="width: 80px;">
                        </div>
                        <label style="margin-right: 9px; margin-left: 10px;">数量</label>
                        <div class="form-input">
                            <input class="form-control input-sm" id="数量" type="text" style="width: 40px;">
                        </div>
                        <button class="btn btn-info btn-sm" id="material-add" style="margin-left: 20px;">加入表单</button>
                    </div>
                </div>
                <div class="buy-buttons">
                    <div class="has-dh">№: <span id="dh">@setup[3]</span> <span id="owner"></span></div>
                    <div class="buttons">
                        <button class="btn btn-info btn-sm" id="save-button"
                            style="margin-right: 10px; width: 60px;">保存</button>
                        <button class="btn btn-info btn-sm" id="print-button"
                            style="margin-right: 10px; width: 60px;">打印</button>
                        <button class="btn btn-info btn-sm" id="remember-button" style="min-width: 60px">审核</button>
                    </div>
                </div>
            </div>
            <div class="buy-items has-bak">
                <div class="documents-show">
                    <div class="table-container table-docs">
                        <table>
                            <thead>
                                <tr>
                                    <th>待入库单据</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-container table-history">
                        <table>
                            <thead>
                                <tr>
                                    <th>@setup[2]</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-container table-items not-scroll-left">
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="table-ctrl">
                        <div class="table-button">
                            <button class="btn btn-info btn-sm" id="row-insert" title="插入"><i
                                    class="fa fa-plus-square"></i></button>
                            <button class="btn btn-info btn-sm" id="row-del" title="删除"><i
                                    class="fa fa-trash"></i></button>
                            <button class="btn btn-info btn-sm" id="row-up" title="上移"><i
                                    class="fa fa-arrow-up"></i></button>
                            <button class="btn btn-info btn-sm" id="row-down" title="下移"><i
                                    class="fa fa-arrow-down"></i></button>
                        </div>

                        <div class="table-tips" id="sum-money">

                        </div>

                        <div class="table-info">
                            共 <span id="total-records"></span> 条记录
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/plugins/laydate/laydate.js"></script>
    <script src="/assets/plugins/print/print.js"></script>
    <script type="module" src="/static/@material_js.name"></script>
    }, user.show.clone())