@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<div class="product-set">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 商品设置 </span>
        <p id="help-info" title="帮助信息"><img></p>
    </div>
    <div class="product-content has-bak">
        <div class="tree-show">
            <div class="autocomplete table-top">
                <input type="text" class="form-control search-input" id="auto_input" placeholder="商品搜索">
                <button id="auto_search" class="btn btn-info btn-sm"><img src="/assets/img/zoom.png"
                        width="20px"></button>
            </div>
            <div class="tree-title">商品分类（点击刷新）　<a href="javascript:;" title="刷新"><i class="fa fa-refresh fa-lg"></i></a></div>
            <div class="tree-container">
                <ul id="tree"></ul>
                <div>
                    <ul id="context-menu">
                        <li><a href="javascript:;" id="context-add">新增</a></li>
                        <li><a href="javascript:;" id="context-edit">编辑</a></li>
                        <li><a href="javascript:;" id="context-del">删除</a></li>
                    </ul>
                </div>

                <div id="zhezhao"></div>
            </div>
        </div>
        <div id="product-show">
            <div class="table-top">
                <div class="autocomplete product-search">
                    <input type="text" class="form-control search-input" id="search-input" placeholder="规格搜索">
                    <button class="btn btn-info btn-sm" id="serach-button">搜索</button>
                    <span id="product-name"></span><span id="product-id"></span>
                </div>
                <div class="table-tools">
                    <div class="table-edit">
                        <button class="btn btn-info btn-sm" id="add-button">增加</button>
                        <button class="btn btn-info btn-sm" id="edit-button">编辑</button>
                        <button class="btn btn-info btn-sm" id="del-button">删除</button>
                    </div>
                    <div class="data-button">
                        <input type="file" id="choose_file2" class="hide" accept="xls,xlsx" />
                        <button class="btn btn-info btn-sm" id="data-update">批量更新</button>
                        <input type="file" id="choose_file" class="hide" accept="xls,xlsx" />
                        <button class="btn btn-info btn-sm" id="data-in">批量导入</button>
                        <button class="btn btn-info btn-sm" id="data-out">导出数据</button>
                    </div>
                </div>
            </div>

            <div class="table-container table-product">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-ctrl">
                    <div class="tools-button"></div>
                    <div class="table-button">
                        <button class="page-button btn" id="first" title="首页"><img src="/assets/img/backward.png"
                                width="12px"></button>
                        <button class="page-button btn" id="pre" title="前一页"><img src="/assets/img/backward2.png"
                                width="12px"></button>
                        <p class="seperator"></p>
                        <span>第</span><input type="text" class="form-control" id="page-input" value="1">
                        <span>页，共</span><span id="pages"></span><span>页</span>
                        <p class="seperator"></p>
                        <button class="page-button btn" id="aft" title="后一页"><img src="/assets/img/forward2.png"
                                width="12px"></button>
                        <button class="page-button btn" id="last" title="尾页"><img src="/assets/img/forward.png"
                                width="12px"></button>
                    </div>

                    <div class="table-info">
                        共 <span id="total-records"></span> 条记录
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/assets/min/pages/productset.js"></script>
}, user.name.clone(), format!("{}.css", user.theme.clone()))