@use super::base;
@use crate::service::UserData;
@(user: UserData)

@:base({
<link href="/assets/plugins/hiprint/css/hiprint.css" rel="stylesheet" />
<link href="/assets/plugins/hiprint/css/print-lock.css" rel="stylesheet" />

<div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
    <span class="t1"><i class="fa fa-angle-double-right"></i> 报表设计 </span>
    <p id="help-info" title="帮助信息"><img></p>
</div>
<div class="report-design has-bak">
    <div class="build-model">
        <div>
            <label class="check-radio">新建模板<input type="radio" checked="checked" name="model-choose" id="choose-new">
                <span class="radiomark"></span></label>
        </div>
        <div>
            <select class="select-sm model-select" name="model-select" id="newmodel-select">

            </select>
        </div>
        <div class="model-div">
            <input type="text" class="form-control input-sm" id="newmodel-name" placeholder="名称">
        </div>
    </div>
    <div class="build-model">
        <div>
            <label class="check-radio">修改模板<input type="radio" name="model-choose" id="choose-edit">
                <span class="radiomark"></span></label>
        </div>
        <div>
            <select class="select-sm model-select" name="model-select" id="editmodel-select" disabled>

            </select>
        </div>
        <div class="model-div">
            <select class="select-sm model-select" name="model-select" id="edit-select" disabled>
                <option value=0 selected hidden>请选择单据</option>
            </select>
        </div>
        <div class="model-div">
            <input type="text" class="form-control input-sm" id="editmodel-name" placeholder="修改名称" disabled>
        </div>
        <div class="model-div">
            <button class="btn btn-second btn-sm" id="del-button" disabled>删除</button>
        </div>
        <div class="model-div">
            <label class="check-radio" id="default-label">设为默认<input type="checkbox" id="default-check">
                <span class="checkmark"></span></label>
        </div>
        <div class="model-div">
            <button class="btn btn-info btn-sm" id="save-button">保存</button>
        </div>
    </div>
</div>
<layout class="layout hinnn-layout hinnn-layout-has-sider height-100-per has-bak" style="padding-left: 30px;">
    <content class="hinnn-layout-content">
        <div class="container-fluid height-100-per print-content" style="width: 240px;">
            <div class="rect-printElement-types hiprintEpContainer">
                <ul class="hiprint-printElement-type">
                    <li>
                        <span class="title"><code>预设</code></span>
                        <ul id="pre-set">

                        </ul>
                    </li>
                    <li>
                        <span class="title"><code>自定义</code></span>
                        <ul>
                            <li>
                                <a class="ep-draggable-item" tid="configModule.customText">
                                    <span class="glyphicon-class">文本</span>
                                </a>
                            </li>

                            <li>
                                <a class="ep-draggable-item" tid="configModule.image">
                                    <span class="glyphicon-class">图片</span>
                                </a>
                            </li>
                            <li>
                                <a class="ep-draggable-item" tid="configModule.tableCustom">
                                    <span class="glyphicon-class">表格</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <span class="title">辅助</span>
                        <ul>
                            <li>
                                <a class="ep-draggable-item" tid="configModule.hline">
                                    <span class="glyphicon-class">横线</span>
                                </a>
                            </li>

                            <li>
                                <a class="ep-draggable-item" tid="configModule.vline">
                                    <span class="glyphicon-class">竖线</span>
                                </a>
                            </li>
                            <li>
                                <a class="ep-draggable-item" tid="configModule.rect">
                                    <span class="glyphicon-class">矩形</span>
                                </a>
                            </li>
                            <li>
                                <a class="ep-draggable-item" tid="configModule.oval">
                                    <span class="glyphicon-class">椭圆</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div class="hiprint-toolbar" style="margin-top:15px;">
                <ul>
                    <li><a class="hiprint-toolbar-item" id="paper-a4">A4</a></li>
                    <li><a class="hiprint-toolbar-item" id="paper-a5">A5</a></li>

                    <li><a class="hiprint-toolbar-item"><input type="text" id="customWidth"
                                style="width: 50px;height: 19px;border: 0px;" placeholder="宽/mm" /></a></li>
                    <li><a class="hiprint-toolbar-item"><input type="text" id="customHeight"
                                style="width: 50px;height: 19px;border: 0px;" placeholder="高/mm" /></a>
                    </li>

                    <li><a class="hiprint-toolbar-item" id="paper-custom">自定义</a></li>
                    <li><a class="hiprint-toolbar-item"><input type="text" id="paper-type"
                                style="width: 190px;height: 19px;border: 0px;" readonly /></a></li>
                    <li>
                        <a id="paper-directPrint" class="btn hiprint-toolbar-item">打印预览</a>
                    </li>

                </ul>
                <div style="clear:both;"></div>
            </div>
            <div id="hiprint-printTemplate" class="hiprint-printTemplate" style="margin-top:20px;">

            </div>
            <div class="about-this"></div>
            <div class="gener-code">
                <div style="padding-top:15px;">
                    <button type="button" class="btn btn-primary" id="A4_getJson_toTextarea">生成json到textarea</button>
                </div>
                <textarea class="form-control" rows="10" id="A4_textarea_json"></textarea>
            </div>
        </div>
    </content>

    <sider class="hinnn-layout-sider">
        <div class="hiprint-option-item hiprint-option-item-row">
            <button class="btn btn-info btn-normal" id="sumit" type="button">确定</button>
            <button class="btn btn-second btn-normal" id="del" type="button">删除</button>
        </div>
        <div class="container height-100-per">
            <div id="PrintElementOptionSetting"></div>
        </div>
    </sider>
</layout>

<script src="/assets/plugins/jquery/jquery-3.5.1.slim.min.js"></script>

<script src="/assets/plugins/hiprint/js/print-data.js"></script>

<script src="/assets/plugins/jquery/jquery.minicolors.min.js"></script>
<script src="/assets/plugins/barcode/JsBarcode.all.min.js"></script>
<script src="/assets/plugins/qrcode/qrcode.js"></script>
<script src="/assets/plugins/hiprint/js/hiprint.bundle.js"></script>
<script src="/assets/plugins/jquery/jquery.hiwprint.js"></script>

<script type="module" src="/assets/js/pages/reportdesign.js"></script>

}, user.show.clone(), format!("{}.css", user.theme.clone()))