@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<link rel="stylesheet" href="/assets/plugins/laydate/theme/default/laydate.css">

<div class="docment-query business_query debt">
    <div class="top-title"><span><i class="fa fa-bar-chart"></i> 统计分析 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 综合分析 </span>
        <p id="help-info" title="帮助信息"><img src="/assets/img/ask.png" width="20px"></p>
    </div>
    <div class="query-content">
        <div id="query-show">
            <div class="table-top">
                <div class="query-search">
                    <div class="search-div">
                        <input type="text" class="form-control search-input date-input" id="search-date1"
                            placeholder="起始日期"> _
                        <input type="text" class="form-control search-input date-input" id="search-date2"
                            placeholder="截止日期">
                        <button class="btn btn-info btn-sm" id="serach-button">区间统计</button>
                        <button class="btn btn-info btn-sm" id="today-button" style="margin-left: 25px;">今日统计</button>
                    </div>
                    <div class="customer-name"></div>
                </div>
            </div>

            <div class="debt-show">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>单据类型</th>
                                <th>单据数量</th>
                                <th>单据金额</th>
                                <th>已结金额</th>
                                <th>结单数量</th>
                                <th>免除金额</th>
                                <th>待结数量</th>
                                <th>待结金额</th>
                                <th>其他费用</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/assets/plugins/laydate/laydate.js"></script>
<script type="module" src="/assets/min/pages/analys.js"></script>
}, user.name.clone(), user.theme.clone())