@use super::base;
@use crate::service::UserData;
@(user: UserData, code: String)

@:base({
<link rel="stylesheet" href="/@code/assets/plugins/laydate/theme/default/laydate.css">

<div class="docment-query business_query debt statis">
    <div class="top-title"><span><i class="fa fa-bar-chart"></i> 统计分析 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 销售统计 </span>
        <p id="help-info" title="帮助信息"><img></p>
    </div>
    <div class="query-content has-bak">
        <div id="query-show">
            <div class="table-top">
                <div class="query-search">
                    <select name="sta-cate" class="select-sm" id="statis-cate">
                        <option value="按月">按月统计</option>
                        <option value="按周">按周统计</option>
                        <option value="按日">按日统计</option>
                        <option value="按年">按年统计</option>
                    </select>
                    <label for="search-date">统计区间：</label>
                    <input type="text" class="form-control search-input date-input" id="search-date-month">
                    <input type="text" class="form-control search-input date-input" id="search-date-year" hidden>
                    <input type="text" class="form-control search-input date-input" id="search-date-week" placeholder="输入最近周数"
                        hidden>
                    <button class="btn btn-info btn-sm" id="statis-button">统计</button>
                    <div id="info"></div>
                </div>
                <div class="chart-select">
                    <select name="chart-cate" class="select-sm" id="chart-cate">
                        <option value="柱状图">柱状图</option>
                        <option value="折线图">折线图</option>
                    </select>
                </div>
            </div>

            <div class="debt-show">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th width="20%">序号</th>
                                <th width="35%" id="th-date">月份</th>
                                <th>销售额</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="chart-div">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>



</div>
</div>
</div>

<script src="/@code/assets/plugins/laydate/laydate.js"></script>
<script src="/@code/assets/plugins/chart/Chart2.min.js"></script>
<script type="module" src="/@code/assets/min/pages/statis.js"></script>
}, user.name.clone(), format!("{}.css", user.theme.clone()), code.clone())