@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<div class="system-set">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 系统参数 </span>
    </div>
    <div class="system-content">
        <div id="product-show">
            <div class="table-top">
                <div class="table-title">商品规格字段设置:</div>
                <div class="table-tools">
                    <div class="table-edit">
                        <button class="btn btn-info btn-sm" id="sumit-button">提交</button>
                    </div>
                </div>
            </div>

            <div class="table-container table-product">
                <table>
                    <thead>
                        <tr>
                            <th class="hide"></th>
                            <th width=6%>序号</th>
                            <th>字段</th>
                            <th width=10%>数据类型</th>
                            <th>显示名称</th>
                            <th width=8%>宽度</th>
                            <th>控件类型</th>
                            <th width=20%>可选值</th>
                            <th width=8%>显示</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="table-ctrl">
                    <div class="tools-button"></div>
                    <div class="table-button">
                    </div>

                    <div class="table-info">
                        共 <span id="total-records"></span> 条记录
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/assets/js/pages/systemset.js"></script>
}, user.name.clone())