@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<div class="system-set">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 系统参数 </span>
    </div>
    <div class="system-content">
        <div class="part">
            <p class="title">小数位数</p>
            <div class="form-group" style="margin-top: -20px;">
                <p>价格</p>
                <select class='select-sm' id="price-select">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2 selected>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select>
                <p class="example">示例: <span id="example-price">3.69</span></p>
            </div>
            <div class="form-group" style="margin-top: -10px;">
                <p>金额</p>
                <select class='select-sm' id="mount-select">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2 selected>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                </select>
                <p class="example">示例: <span id="example-mount">368.60</span> </p>

            </div>
        </div>
        <div class="part">
            <p class="title">单号格式</p>
            <div class="form-group" id="dh" style="margin-top: -20px;">
                <p>按</p>
                <select class='select-sm' id="date-select">
                    <option value="日" selected>日</option>
                    <option value="月">月</option>
                    <option value="年">年</option>
                    <option value="无限">无限</option>
                </select>                
                <p>循环，</p>
                <p>预留</p>
                <select class='select-sm' id="position-select">
                    <option value=2>2</option>
                    <option value=3 selected>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                </select>                
                <p>位 </p>
                <label class="check-radio">
                    <input type="checkbox" checked id="spliter-check">
                    <span class="checkmark"></span>分隔符
                </label>
            </div>
            <div class="example">示例：<span id="example-dh">XS2021-03-04-081</span></div>
        </div>

    </div>
    <div class="submit-button">
        <button class="btn btn-info" type="submit" id="pass-button">提交修改</button>
    </div>
</div>
<script type="module" src="/assets/js/pages/systemset.js"></script>
}, user.name.clone())