@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<div class="user-set">
    <div id="user-edit">
        <div class="title"><i class="fa fa-id-card-o"></i><span>用户资料</span></div>
        <form>
            <div class="form-group">
                <label>用户名</label>
                <input class="form-control" type="text" value="@user.name" readonly>
            </div>
            <div class="form-group">
                <label for="phone">手机号</label>
                <input class="form-control" type="text" name="phone" value="@user.phone">
                <button class="btn" type="submit" id="phone-button">提交</button>
            </div>
            <p id="warn-info"> 注：找回密码时需要手机号 </p>
            <div class="form-group">
                <label>密码找回机会</label>
                <input class="form-control" type="text" value="@user.get_pass" readonly>
            </div>
            <div class="form-group">
                <label>工作权限</label>
                <textarea class="form-control" rows="6" value="@user.rights" readonly></textarea>
            </div>
        </form>
    </div>
    <div id="password-set">
        <div class="title"><i class="fa fa-key"></i><span>修改密码</span></div>
        <form>
            <div>
                <label for="uname">原密码</label>
                <input type="password" name="uname" id="old-pass">
            </div>
            <div>
                <label for="psw">新密码</label>
                <input type="password" name="psw" id="new-pass">
            </div>
            <div>
                <label for="psw">确认密码</label>
                <input type="password" name="psw" id="confirm-pass">
            </div>
            <button type="submit" id="pass-button">提交</button>
        </form>
    </div>
</div>
}, user.name.clone())