@use super::base_html;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base_html({
<div class="user-set">
    <div id="password-set">
        <div class="title"><i class="fa fa-key"></i><span>修改密码</span></div>
        <form>
            <div class="form-group">
                <div class="form-label">
                    <label id="old" for="old-pass">原密码</label>
                </div>
                <input class="form-control" type="password" id="old-pass">
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label id="new" for="new-pass">新密码</label>
                </div>
                <input class="form-control" type="password" id="new-pass">
            </div>
            <div class="form-group">
                <div class="form-label">
                    <label id="confirm" for="confirm-pass">确认密码</label>
                </div>
                <input class="form-control" type="password" id="confirm-pass">
            </div>
            <button class="btn btn-info" type="submit" id="pass-button">提交</button>
        </form>
    </div>
</div>
<script src="/stock/static/@tools_service_js.name"></script>
<script src="/stock/static/@userset_js.name"></script>
}, user.company.clone())