@use super::base;
@use crate::service::UserData;
@use super::statics::*;
@(user: UserData)

@:base({
<div class="ware-house">
    <div class="top-title"><span><i class="fa fa-wrench"></i> 功能设置 </span>
        <span class="t1"><i class="fa fa-angle-double-right"></i> 仓库设置 </span>
        <p id="help-info" title="帮助信息"><img></p>
    </div>
    <div class="house-content has-bak">
        <div class="house-set">
            <div class="title">仓库设置（右键操作）</div>
            <div class="house">
                <ul id="house-list">
                </ul>
                <div>
                    <ul id="context-menu">
                        <li><a href="javascript:;" id="context-add">新增</a></li>
                        <li><a href="javascript:;" id="context-edit">编辑</a></li>
                        <li><a href="javascript:;" id="context-del">删除</a></li>
                    </ul>
                </div>

                <div id="zhezhao"></div>
            </div>
        </div>
    </div>

</div>
<script type="module" src="/assets/min/pages/warehouse.js"></script>

}, user.name.clone(), format!("{}.css", user.theme.clone()))